.layout-container {
    display: flex;
    background-color: white!important;
    margin: 50px 50px 50px 50px;
    border-radius: 20px;
    }

.layout-body {
    border-radius: 20px;
    display: flex;
    background-color: #ece9e4!important;
    width: 100%;
    margin: 5px 100px 5px 0px;
    position: relative;
    z-index: 100;
}

@media (max-width: 1024px) {
    .layout-body {
        margin: 0;
    }
    .layout-content {
        padding: 1rem;
        margin-bottom: 70px;
    }
}